{% extends "base.html" %}
{% block content %}

<br />
<div class="jumbotron">
    &nbsp;&nbsp;
    <form method="get" action="/search" autocomplete="off" form style="display:inline">
    <input type="text"  size = "75" name="sterm" pattern="[a-zA-Z0-9 ]{1,}"title="a-z A-Z 0-9" maxlength="75"  autofocus required>
    <button type ="submit" class="button" value="Display">&larr;Search Height, Hash or Address</button></form><br>
    {% if largetx.Status != "error" %}
    <h2>Largest 100 Transactions  </h2>
    </div>
    <div class="container-fluid table-responsive">
         <table class="table table-condensed table-striped table-hover">
            <thead>
                <th>Transaction</th>
                <th>Amount</th>
            </thead>
         <tbody>
         {% for row in largetx.Data %}
         <tr>
            <td><a href="/transaction?transaction={{ row[0] }}">{{ row[0] }} </a></td><td>{{ row[1] | normalize}}</td></tr>
        {% endfor %}
             </tbody>

        </table>
    </div>

{% else %}
    <h1 style="text-align:center;">Large transaction list was not found.</h1></div>


{% endif %}





{% endblock %}
